
.card-form fieldset {
    border:none;
    margin-top:-2px;
}

.card-form legend {
    font-size:1.2em;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 10px
}

.card-form div {
    margin-bottom: 10px;
}

.card-form div:last-child {
    margin-bottom: 0;
}

.card-form label {
    display: block;
    font-weight: bold;
}

.card-form textarea {
    display: block;
    width: 100%;
    padding:3px;
    box-sizing: border-box;
}

.card-form-buttons {
    text-align: right;
}

.card-form-buttons button {
    background:transparent;
    border:none;
    margin-left: 5px;
    padding:6px 12px;
    font-size:1.2em;
    color:white;
}

.card-form-buttons button:hover {
    box-shadow: 2px 3px 5px #333;
}

.card-form-buttons .card-form-buttons-save {
    background-color:green;
}

.card-form-buttons .card-form-buttons-delete {
    background-color:red;
}
