/* The Modal (background) */
.modal {
    visibility: hidden; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent; /* Fallback color */
    background-color: rgba(255,255,255,0); /* Black w/ opacity */
    transition: visibility 250ms, background-color 250ms;
}

.modal.open {
  visibility: visible;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: visibility 0, background-color 250ms;
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: -100% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width:600px;
    opacity:0;
    transition: margin 1ms 250ms, opacity 250ms;
}

.open .modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  opacity:1;
  transition: margin 250ms 250ms;
}

/* The Close Button */
.close {
    -webkit-appearance: button;
    background-color: transparent;
    border:none;
    color: #aaa;
    position: absolute;
    top:10px;
    right:20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
