html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body {
    margin:0;
    padding:60px;
}

#game_board {
    width:600px; 
    height: 300px;
    background-color: #003300;
}

#game_board > div {
    float:right;
    height: 100px;
    width:200px;
    box-sizing: border-box;
}