/*@import "~w3-css/w3.css";*/

html,
body,
#root,
#blackjack{
  height:100%;
  margin:0; 
  background-color: #003300;
}

#blackjack > h1 {
  height: 75px;
  color:white;
}

#game_board {
    height:600px;
    width:100%;
}

#game_board > div {
    float:right;
    height: 50%;
    width:33%;
    box-sizing: border-box;
    
    /*border: 1px solid white;*/
}